@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
}
body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background-color: white;
}
p {
  line-height: 1.6;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

/* NAV */
.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
  z-index: 10;
}
.local-nav {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  z-index: 11;
}

.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.global-nav-links {
  justify-content: space-between;
}
.local-nav-links {
  border-bottom: 1px solid #ddd;
}

.global-nav-icon {
  max-width: 70px;
}
.product-name {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: bold;
}
.global-nav-item {
  font-size: 0.7rem;
}

.local-nav-item {
  margin-left: 2em;
  font-size: 0.7rem;
}
.local-nav-item:last-child {
  text-align: center;
  background-color: #0e8bee;
  color: white;
  padding: 6px 12px;
  border-radius: 12px;
}

/* SECTION */
.scroll-section {
  padding-top: 50vh;
}
.main-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30vh;
  height: 3em;
  font-size: 2rem;
  margin: 5px 0;
  opacity: 0;
}
.main-msg p {
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}
.main-msg small {
  display: block;
  font-size: 1.3rem;
  margin-bottom: 0.5em;
}
.sticky-element {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}
/* CANVAS */
.sticky-elem-canvas {
  top: 0;
  height: 100vh;
}
.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

#show-section-0 #scroll-section-0 .sticky-element,
#show-section-1 #scroll-section-1 .sticky-element,
#show-section-2 #scroll-section-2 .sticky-element,
#show-section-3 #scroll-section-3 .sticky-element {
  display: block;
}

/* 0 SECTION */
#scroll-section-0 h1 {
  position: relative;
  top: -10vh;
  font-size: 3rem;
  text-align: center;
  z-index: 10;
}

/* 1 SECTION */
.sec1-desc {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}
.sec1-desc strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: rgb(29, 29, 31);
}

/* 2 SECTION */
#scroll-section-2 .main-msg {
  font-size: 3.5rem;
}
.desc-msg {
  width: 50%;
  font-weight: bold;
  opacity: 0;
}
#scroll-section-2 .desc-msg.b {
  top: 10%;
  left: 40%;
}
#scroll-section-2 .desc-msg.c {
  top: 15%;
  left: 45%;
}

.pin {
  width: 1px;
  height: 100px;
  background-color: rgb(29, 29, 31);
}

/* 3 SECTION */
.mid-msg {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 2rem;
  color: #888;
}
.mid-msg strong {
  color: rgb(29, 29, 31);
}
.canvas-caption {
  max-width: 1000px;
  margin: 0 auto;
  color: #888;
  padding: 1rem;
  font-size: 1.2rem;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

/* DESKTOP 기준 */
@media (min-width: 1024px) {
  /* SECTIONS */
  .main-msg {
    font-size: 4vw;
  }
  /* 0 SECTION */
  #scroll-section-0 h1 {
    font-size: 6vw;
  }
  /* 1 SECTION */
  .sec1-desc {
    font-size: 2rem;
  }
  .sec1-desc strong {
    font-size: 6rem;
  }
  /* 2 SECTION */
  #scroll-section-2 .main-msg {
    font-size: 6vw;
  }
  #scroll-section-2 .desc-msg.b {
    top: 20%;
    left: 53%;
  }
  #scroll-section-2 .desc-msg.c {
    left: 55%;
  }
  .main-msg small {
    font-size: 1.5vw;
  }
  .desc-msg {
    width: 20%;
  }
  /* 3 SECTION */
  .mid-msg {
    font-size: 4vw;
  }
  .canvas-caption {
    font-size: 2rem;
  }
}
